In [15]:
import pandas as pd
import numpy as np
df = pd.DataFrame(dict(a=[1, 2, 129]))
df.dtypes

a    int64
dtype: object

In [6]:
pd.to_numeric(df.a, downcast='integer')

0        1
1        2
2    33000
Name: a, dtype: int32

In [16]:
df.a = df.a.astype(np.int8)
df.dtypes

a    int8
dtype: object

In [17]:
df

     a
0    1
1    2
2 -127

In [22]:
import math
max_value = 257
math.ceil(math.log2(max_value))

9

In [23]:
df = pd.DataFrame(dict(
    int=[123 for _ in range(100)],
    float=[1.0 for _ in range(100)],
    bool=[True for _ in range(100)]))
df.memory_usage()

Index    128
int      800
float    800
bool     100
dtype: int64

In [24]:
df

    int  float  bool
0   123    1.0  True
1   123    1.0  True
2   123    1.0  True
3   123    1.0  True
4   123    1.0  True
..  ...    ...   ...
95  123    1.0  True
96  123    1.0  True
97  123    1.0  True
98  123    1.0  True
99  123    1.0  True

[100 rows x 3 columns]